/* applies to anything of class "example-class-selector" */
/* lab 2 */
.example-class-selector {
     margin-left: 20px;
     margin-top: 2px;
}

.project{
     margin-left: 20px;
     background-color: #B0BECB;
     padding: 20px;
    width: 525px;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
     /* Colors are in hexadecimal: http://www.colorpicker.com/ */
     color: #B0BECB;
}

.project p {
    font-variant: small-caps;
}
/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 2px dotted gray;
     padding: 20px;
     background-color: #B0BECB;
}

.jumbotron {
     position: relative;
     background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}
